<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/230e06e39c08603b5ad05e5751271a53-removebg-preview.png" alt="">
  </div>
  <div class="headings">
    <h2>One Go-To Place</h2>
    <h3>for your all comlaints</h3>
    <a href="/stud" class="btn">Student</a>
    <a href="/admin" class="btn">Admin</a>
  </div>
</header>


<%- include('partials/footer'); -%>