<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <a href="/msg">
    <img src="/WhatsApp_Image_2021-06-20_at_19.26.24__1_-removebg-preview.png" alt="smoothie recipe icon">
    <h4>Banana Boost</h4>
    <p>Banana, Vanilla ice cream, Milk</p>
    </a>
  </li>
  <li class="recipe">
    <a href="/msg">
    <img src="/WhatsApp_Image_2021-06-20_at_19.26.24__2_-removebg-preview.png" alt="smoothie recipe icon">
    <h4>Tropical Twist</h4>
    <p>Peach, Pinapple, Apple juice</p>
    </a>
  </li>
  <li class="recipe">
    <a href="/msg">
    <img src="/WhatsApp_Image_2021-06-20_at_19.26.24__3_-removebg-preview.png" alt="smoothie recipe icon">
    <h4>Protein Packer</h4>
    <p>Oats, Peanut butter, Milk, Banana, Blueberries</p>
    </a>
  </li>
  <li class="recipe">
    <a href="/msg">
    <img src="/WhatsApp_Image_2021-06-20_at_19.26.24__4_-removebg-preview.png" alt="smoothie recipe icon">
    <h4>Banana Boost</h4>
    <p>Banana, Vanilla ice cream, Milk</p>
    </a>
  </li>
  <li class="recipe">
    <a href="/msg">
    <img src="/WhatsApp_Image_2021-06-20_at_19.26.24__7__-_Copy-removebg-preview.png" alt="smoothie recipe icon">
    <h4>Tropical Twist</h4>
    <p>Peach, Pinapple, Apple juice</p>
    </a>
  </li>
  <li class="recipe">
    <a href="/msg">
    <img src="/WhatsApp_Image_2021-06-20_at_19.26.24-removebg-preview.png" alt="smoothie recipe icon">
    <h4>Protein Packer</h4>
    <p>Oats, Peanut butter, Milk, Banana, Blueberries</p>
    </a>
  </li>
</ul>

<%- include('partials/footer'); -%>